@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#1E1E1E];
  }
}

@layer components {
  .title {
    @apply text-[#DBDBDB] text-xl sm:text-2xl mt-8 mb-4 font-robotoBold;
  }

  .section {
    @apply flex flex-col lg:flex-row gap-6 lg:gap-16 text-[1rem] sm:text-lg text-[#808080] leading-6;
  }
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../public/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: "Roboto-normal";
  src: url("../public/RobotoMono-Regular.ttf");
}
