@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#1E1E1E];
  }
}

@layer components {
  .title {
    @apply text-[#DBDBDB] text-xl sm:text-2xl mt-8 mb-4 font-robotoBold;
  }

  .section {
    @apply flex flex-col lg:flex-row gap-6 lg:gap-16 text-[1rem] sm:text-lg text-[#808080] leading-6;
  }
}

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../public/fonts/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: "Roboto-normal";
  src: url("../public/fonts/RobotoMono-Regular.ttf");
}
