@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#1E1E1E];
  }
}

@layer components {
  .toggle-input {
    -webkit-appearance: none;
    position: relative;
    width: 80px;
    height: 40px;
    background-image: url("/brFlag.png");
    background-size: cover;
    background-color: rgb(244, 189, 33);
    border-radius: 50px;
    outline: none;
    transition: background-image 0.6s;
    cursor: pointer;
  }

  .toggle-input::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 26px;
    border-radius: 50px;
    transition: all 0.6s;
    background-color: #73af00;
  }

  @media screen and (min-width: 640px) {
    .toggle-input::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      transition: all 0.6s;
      background-color: #73af00;
    }
  }

  .toggle-input:checked {
    background-image: url("/usFlag.png");
    transition: background-image 0.6s;
  }
  .toggle-input:checked:before {
    transform: translate(100%);
    transition: all 0.6s;
    background-color: #b21d2e;
  }
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../public/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: "Roboto-normal";
  src: url("../public/RobotoMono-Regular.ttf");
}
